* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}


/* BODY */

body {
    margin: 0;
    min-height: 100vh;
    background-image:url("background image.jpg");
    /* change path */
    background-size: cover;
    /* 🔥 fits whole screen */
    background-position: center;
    /* center image */
    background-repeat: no-repeat;
    /* no repeat */
    background-attachment: fixed;
    /* optional: parallax effect */
    font-family: Arial, sans-serif;
    color: rgb(232, 235, 237);
}


/* NAVBAR */

.navbar {
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.navbar h1 {
    color: gold;
    text-align: center;
}

.navbar input {
    padding: 8px 12px;
    border-radius: 6px;
    border: none;
    outline: none;
    text-align: center;
    justify-content: flex-end;
}

#search {
    width: 300px;
    padding: 10px 15px;
    border-radius: 25px;
    border: none;
    outline: none;
    font-size: 14px;
}


/* MOVIES GRID */

.movies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* 🔥 5 movies in one line */
    gap: 25px;
    padding: 30px;
    max-width: 1400px;
    margin: auto;
}

.movie-card {
    background: #1f1f1f;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s;
}

.movie-card:hover {
    transform: scale(1.05);
}

.movie-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.info {
    padding: 10px;
    text-align: center;
}

.info a {
    color: gold;
    text-decoration: none;
    font-size: 18px;
}


/* FOOTER */

footer {
    background: #1c1c1c;
    padding: 15px;
    text-align: center;
}


/* DETAILS PAGE */

.details-container {
    display: flex;
    gap: 30px;
    background: rgba(10, 10, 10, 0.8);
    border-radius: 20px;
    padding: 25px;
    max-width: 1100px;
    width: 100%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    margin: auto;
    margin-top: 100px;
}

.poster-box img {
    width: 260px;
    border-radius: 10px;
}

.badge {
    background: darkred;
    color: white;
    margin-top: 8px;
    padding: 6px;
    text-align: center;
    border-radius: 6px;
}

.details-box h1 {
    margin-bottom: 15px;
}

.yt-btn {
    display: inline-block;
    margin-top: 20px;
    background: red;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
}